{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid calls-to-action">
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-4">
            <h2>Try somthing new?</h2>
            <p>Bored of wating for the kettle to boil? Try our new Cold Brews, for people on the move!</p>
            <button>Cold Brew!</button>
        </div>
        <div class="col-4">
            <h2>First Time?</h2>
            <p>Create an account, browse and pick from the best tasting teas on the market.</p>
            <button><a href="">Sign Up!</a></button>
        </div>
        <div class="col-4">
            <h2>Tea Addict?</h2>
            <p>Sign up to our subscription service and get the best teas delivired to your door every month!</p>
            <a href="{% url 'products' %}?category=subscriptions"><button>Subscribe!</button></a>
        </div>
    </div>
</div>

{% endblock %}