{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corsejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Brew Town</title>
  </head>
  <body>
    <header class="container-fluid">
      <div class="row">
        <div class="col-2 offset-2"><a href="{% url 'home' %}">Brew Town</a></div>
        <div class="col-4">
          <form method="GET" action="{% url 'products' %}">
            <div>
              <input type="search" name="q" placeholder="Search our products" aria-label="Search">
              <button type="submit">Search</button>
            </div>
          </form>
        </div>
        <div class="col-2">Sign In/Profile</div>
        <div class="col-2">Shopping Basket</div>
      </div>
      <div class="row justify-content-center">
          <div class="col-1">
            <a href="{% url 'products' %}">All Products</a>
          </div>
          <div class="col-1">Teas</div>
          <div class="col-1">Coffees</div>
          <div class="col-1">Subscriptions</div>
      </div>
    </header>

    {% if messages %}
      <div>Messages Here!</div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
   

    <footer class="container-fluid fixed-bottom">
      <div class="row">
        <div class="col">
          <h3>Social Media</h3>
          <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>LinkedIn</li>
            <li>Youtube</li>
            <li>Printrest</li>
          </ul>
        </div>
        <div class="col">
          <h3>Contact us</h3>
          <p>brewtown@email.com</p>
          <p>Brew Town HQ</p>
          <p>Brewtown</p>
          <p>Brew Country</p>
          <p>Republic of Brewtown</p>
          <p>br3wt0wn</p>
          <p>012345 678 432</p>
        </div>
        <div class="col">
          <h3>Want to see what we're up too?</h3>
          <p>Sign up to the Brew Town newsletter.</p>
          <form>
            <input type="email" placeholder="Enter your email.">
            <button type="submit">Whats new?</button>
          </form>
        </div>
      </div>
    </footer>
    
  </body>
</html>