{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corsejs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a00a21786b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Brew Town</title>
  </head>
  <body>
    <header class="container-fluid">
      <div class="row top-nav">
        <div class="col-sm-8 col-md-6 col-lg-2 site-title">
          <a href="{% url 'home' %}">
            <h1><i class="fas fa-mug-hot"></i>Brewtown.</h1>
          </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 site-links-area justify-content-space-around">
          <a class="col" href="{% url 'products' %}">All Products</a>
          <a class=" col dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Tea</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_black">Black Teas</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_earlgrey">Earl Grey</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_rooibos">Redbush Teas</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_fruit">Fruit Teas</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_herbal">Herbal Teas</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_green">Green Teas</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_black,tea_earlgrey,tea_rooibos,tea_fruit,tea_herbal,tea_green">All Teas</a></li>
          </ul>
          <a class="col dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Coffee</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=coffee_instant">Instant Coffee</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=coffee_ground">Ground Coffee</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=coffee_beans">Coffee Beans</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=coffee_instant,coffee_ground,coffee_beans">All Coffees</a></li>
          </ul>
          <a class="col" href="{% url 'products' %}?category=subscriptions">Bundles</a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-5 search-bar-form">
          <form method="GET" action="{% url 'products' %}">
              <input class="search-bar border border-white border-5" type="search" name="q" placeholder="Search our products." aria-label="Search">
          </form>
        </div>

        <div class="col text-center profile-bag">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="profile-icon fas fa-users"></i></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <a href="{% url 'product_management' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
              <li><a class="dropdown-item" href="{% url 'reviews' %}">Reviews</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
              <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'reviews' %}">Reviews</a></li>

            {% endif %}
          </ul>
        </div>
        <div class="col text-center profile-bag">
          <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}" href="{% url 'view_bag' %}">
            <i class="fas fa-shopping-bag fa-lg"></i>
            <p class="my-0">
              {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
              {% else %}
                £0.00
              {% endif %}
            </p>
          </a>
        </div>
      </div>
    </header>

    {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toasts_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toasts_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toasts_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toasts_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}




    {% block postloadjs %}
      <script type="text/javascript">
        $('.toast').toast('show');
      </script>
    {% endblock %}
   

    <footer class="container-fluid site-footer">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-5">
          <h3 class="footer-title">Social Media</h3>
          <hr>
            <a class="social-icon" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            <a class="social-icon" href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
            <a class="social-icon" href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            <a class="social-icon" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a class="social-icon" href="https://www.pinterest.co.uk/"><i class="fab fa-pinterest-square"></i></a>
        </div>
        <div class="col-sm-12 col-md-4 mb-5">
          <h3 class="footer-title">Contact us</h3>
          <hr>
          <p>brewtown@brewtown.com</p>
          <p>Brew Town HQ</p>
          <p>Brewtown</p>
          <p>Brew Country</p>
          <p>Republic of Brewtown</p>
          <p>br3wt0wn</p>
          <p>012345 678 432</p>
        </div>
        <div class="col-sm-12 col-md-4 mb-5">
          <h3 class="footer-title">Want to see what we're up too?</h3>
          <hr>
          <p>Sign up to the Brew Town newsletter.</p>
          <form method="GET" action="{% url 'newsletter_email' %}">
            <input class="newsletter-signup search-bar border border-dark border-5" type="email" name="email" placeholder="Enter your email.">
          </form>
        </div>
      </div>
    </footer>
  </body>
</html>