{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container text-center mt-5 push-down">
        <div class="row mb-5">
            <div class="col">
                <h2 class="mb-4">Product Management</h2>
                <p>Welcome to the product management window.</p> 
                <p>Here you can add new products to the store.</p>
                <p>To edit and delete products please navigate to the products page,</p>
                <p> there you will see the options to edit and delete.</p>
                <a class="btn btn-outline-dark" href="{% url 'add_product' %}">Add a product</a>
            </div>
        </div>
    </div>
{% endblock %}