{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{{ product.image.url}}" alt="{{ product.name }}">
        </div>
        <div class="col-6">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.rating}}/5</p>
            <div class="col-6 offset-3">
                <form method="POST" action="{% url 'add_to_bag' product.id %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <label for="id_qty_{{ product.id }}">Quantity:</label>
                        <input type="number" name="quantity" value="1" min="1" max="99" data-item-id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <input type="submit" value="Add to bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="{% url 'products'  %}">
        <button>Back to store</button>
        </a>
    </div>
</div>







{% endblock %}}

