{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Product Management</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-success" href="{% url 'add_product' %}">Add a Product</a>
            </div>
            <div class="col">
                <a class="btn btn-success" href="{% url 'add_product' %}">Edit Product</a>
            </div>
            <div class="col">
                <a class="btn btn-danger" href="{% url 'add_product' %}">Remove Product</a>
            </div>

        </div>
{% endblock %}