{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{{ product.image.url}}" alt="{{ product.name }}">
        </div>
        <div class="col-6">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.rating}}/5</p>
            <div class="col-6 offset-3">
                <p>Quanity</p>
                <button>Add to cart.</button>
            </div>
        </div>
    </div>
</div>







{% endblock %}}

